

#karteGespeichertLabel {
    -fx-text-fill: green;
}
#btnEnter {
    -fx-background-color: green;
}
#btnKorrektur {
    -fx-background-color: yellow;
}

#btnAbbruch {
    -fx-background-color: red;
}